.title {
  text-transform: uppercase;
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 600;
  color: #090316;
  display: flex;
  justify-content: center;
  text-align: center;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  margin: 10px;
  width: 100%;
  background-color: grey;
}